.Form {
  text-align: left;
  max-width: 600px;
}

.Form .IndentedSection {
  box-sizing: border-box;
  padding-left: 64px;
  max-width: 600px;
}

.Form label {
  width: 100%;
  color: #545454;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 24px;
  box-sizing: border-box;
}

.Form .Label-SameLine {
  flex-direction: row;
}

.Form label input {
  padding: 8px 16px 8px 16px;
  border: 2px solid #0FCDB0;
  border-radius: 8px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

.Form input[type=text] {
  width: 100%;
}

.Form input[type=checkbox] {
  width: 48px;
  height: 48px;
  border-radius: 0px;
}

.IndentedSection input[type=checkbox]{
  width: 20%;
}

.Form input[type=radio] {
  width: 48px;
  height: 48px;
}

.Form input[type=date] {
  width: 100%;
  padding: 8px 16px 8px 16px;
  border: 2px solid #0FCDB0;
  border-radius: 8px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.NextButton {
  display: flex;
  flex-direction: column;
  padding: 32px 64px 32px 64px;
  border: 2px solid #0FCDB0;
  border-radius: 8px;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  margin: 16px;
  background:#0FCDB0;
  text-align: center;
  text-decoration: none;
}

.Error {
  border-color: red !important;
}
