.Form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Form label {
  color: #888888;
  margin: 6px;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
}

.Form label input {
  padding: 10px 20px 10px 20px;
  border: 2px solid #0FCDB0;
  border-radius:8px;
  color: #000000;
  font-size: 16px;
  font-weight:bold;
  font-family: 'Courier New', Courier, monospace
}

.Form input[type=checkbox] {
  width:40px;
  height:40px;
  border-radius: 0px;
}

.Form input[type=radio] {
  width:40px;
  height:40px;
}

.Form input[type=date] {
  padding: 10px 20px 10px 20px;
  border: 2px solid #0FCDB0;
  border-radius:8px;
  color: #000000;
  font-size: 16px;
  font-weight:bold;
}

.Form input[type=submit] {
  padding: 20px 30px 20px 30px;
  border: 2px solid #0FCDB0;
  border-radius: 8px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  background: rgb(33, 255, 222);
}
