.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-content {
  background: #ffffff;
  color: #000000;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 4px;
  box-sizing: border-box;
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}

button, .Button {
  padding: 32px 64px 32px 64px;
  border: 2px solid #0FCDB0;
  border-radius:8px;
  color: #ffffff;
  font-size:32px;
  font-weight:bold;
  margin: 16px;
  background: #0FCDB0;
  text-decoration: none;
}

.imprint {
  color: #aaa;
  padding: 10px;
  font-size:11px;
}

a.imprint:visited{
  color: #aaa;
}

.CookieConsent {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #ccc;
}

.CookieConsent button {
  padding: 8px 12px;
  font-size: 18px;
}
