.Modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.Modal__content {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: unset;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 1em;
  outline: none;
  padding: 1em;
  padding-bottom: 4em;
  padding: .6em 1.5em 3em;
  max-width: 25em;
  margin: 0 auto;
  line-height: 1.4;
}

.Modal__button_wrapper {
	position: absolute;
	bottom:	0;
  right: 0.5em;
}

.Modal__button {
	background-color: #11c0a1;
  color: white;
  border-radius: .5em;
  padding: .7em 1.5em .7em;
  border: unset;
  margin: 20px 13px 20px 0;
  font-size: 1em;
}

@media (min-width: 768px) {
  .Modal__content {
    top: 10%;
  }
}